#main{

  width: 500px;
  margin: auto;
  gap: 10px;

}
.category1{
    border: 1px solid black;
    width: 200px;
    height: 300px;
    justify-content: center;
    text-align: center;
    /* align-items: center; */
    background-color: rgb(217,217,217);
    border-radius: 20px;
    /* margin-top: ; */}
.text1{
    font-size: 25px;
}
.text2{
    font-size: 15px;
    width: 170px;
    margin-left: 14px;
    color: rgb(120,120,120);
    font-style: italic;
}
.logo{
    margin-top: 20px;
}
.campusly{
    font-size: 35px;
    margin-left: -90px;
    margin-top: 15px;
    
}
.searchbar{
    background-color:  rgb(217,217,217);
    width: 600px;
    height: 40px;
    border-radius: 50px;
}
.searchimg{
    margin-top: 13px;
    margin-left: 570px;
}
.loginpage{
    background-color: rgb(217,217,217);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.header{
    display: flex;
    justify-content: space-around;
    /* position: fixed; */
}
.t1{
    display: flex;
    width: 150px;
    margin-left: 20px;
    
}
.t2{display: flex;
    width: 150px;
    margin-left: 20px;
    }
    .t3{display: flex;
        width: 150px;
        margin-left: 20px;
        }
        .t4{display: flex;
            width: 150px;
            margin-left: 20px;
            }
.home{
    margin-top: 7px;
    margin-left: 9px;
}
.t1logo{
    margin-top: 4px;
}
.NOTIFICATION{
    margin-left: 9px;
    margin-top: 5px;
}
.CATEGORIES{
margin-left: 9px;
margin-top: 5px;
}
.ABOUT{
    margin-left: 9px;
    margin-top: 5px;
}
.templates{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    height: 200px;
}
.laundry{
    display: flex;
    margin-left: 30px;

}
.Laundry{
    margin-left: 10px;
}
.imglaundry{
    margin-top: 15px;
}
.askus{
    background-color: rgb(217,217,217);
    width: 190px;
    height: 40px;
    border-radius: 40px;
    text-align: center;
    padding: 3px;
}
.TRENDING{
    font-weight: bold;
}
.problems{
    display: flex;
    flex-direction: column;
    margin-left: 1150px;
    position: fixed;
}